<div class="container">
    <h3>ボタン一覧</h3>
    
    <%= link_to "新着順", "/posts" %>　<%= link_to "人気順", "/posts/liked" %>
    <%= form_with url: "/posts/search", method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, placeholder: "キーワード検索" %>
        <%= f.submit "検索" %>
    <% end %>
    <div class="posts">
        <% @post_like_ranks.each do |post| %>
            <div class="post">
                <% if post.status == 0 %>
                    <button ontouchstart="" data-id=<%= post.id %>><%= post.title.truncate(13) %></button>
                    <%= audio_tag(url_for(post.audio), id: "play-button-#{post.id}", preload: "metadata", controlslist: "nodownload") %>
                    <br>
                    <div class="like_buttons", id="like_buttons_<%= post.id %>">
                        <%= render partial: 'likes/like', locals: { post: post } %>
                    </div>
                    <%= link_to "詳細", post_path(post) %>
                <% end %>
            </div>
        <% end %> 
    </div>
</div>
