<div class= "container" %>
    <h3>ボタン詳細</h3>
    <div class="post my-3">
        <p><%= @post.title %> <%= File.extname(url_for(@post.audio)).downcase %></p>
        <%= link_to "/posts/#{@post.id}/button", method: :post, remote: true do %>
            <button><%= @post.title.truncate(7) %></button>
        <% end %>
        <%= audio_tag(url_for(@post.audio), id: "play-button-#{@post.id}", preload: "metadata", controlslist: "nodownload") %>
        <br>
        <div class="like_buttons", id="like_buttons_<%= @post.id %>">
            <%= render partial: 'likes/like', locals: { post: @post } %>
        </div>
        <br>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% if current_user %>
            <% if @post.user_id == current_user.id %>
                <%= link_to "編集", edit_post_path(@post) %>
                <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"} %>
            <% end %>
        <% end %>
    </div>
    <h5 class="clear">人気のボタン</h5>
    <div class="posts">
        <% @post_like_ranks.each do |post| %>
            <div class="post">
                <%= link_to "/posts/#{post.id}/button", method: :post, remote: true do %>
                    <button><%= post.title.truncate(7) %></button>
                <% end %>
                <%= audio_tag(url_for(post.audio), id: "play-button-#{post.id}", preload: "metadata", controlslist: "nodownload") %>
                <br>
                <div class="like_buttons", id="like_buttons_<%= post.id %>">
                    <%= render partial: 'likes/like', locals: { post: post } %>
                </div>
                <%= link_to "詳細", post_path(post) %>
            </div>
        <% end %> 
    </div>
</div>