<div class= "container" %>
    <h3>ボタン詳細</h3>
    <div class="post my-3">
        <p><%= @post.title %> <%= File.extname(url_for(@post.audio)).downcase %></p>
        <button ontouchstart="" data-id=<%= @post.id %>><%= @post.title.truncate(13) %></button>
        <%= audio_tag(url_for(@post.audio), id: "play-button-#{@post.id}", preload: "metadata", controlslist: "nodownload") %>
        <br>
        <div class="like_buttons", id="like_buttons_<%= @post.id %>">
            <%= render partial: 'likes/like', locals: { post: @post } %>
        </div>
        <br>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% if current_user %>
            <% if @post.user_id == current_user.id || current_user.admin %>
                <%= link_to "編集", edit_post_path(@post) %>
                <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"} %>
            <% end %>
            <% if current_user.admin %>
                <p>ユーザ：<%= link_to @post.user.username, user_path(@post.user) %></p>
                <p>公開設定：<%= @post.status %>
            <% end %>
        <% end %>
    </div>
    <h5 class="clear">人気のボタン</h5>
    <div class="posts">
        <% @post_like_ranks.each do |post| %>
            <div class="post">
                <% if post.status == 0 %>
                    <button ontouchstart="" data-id=<%= post.id %>><%= post.title.truncate(13) %></button>
                    <%= audio_tag(url_for(post.audio), id: "play-button-#{post.id}", preload: "metadata", controlslist: "nodownload") %>
                    <br>
                    <div class="like_buttons", id="like_buttons_<%= post.id %>">
                        <%= render partial: 'likes/like', locals: { post: post } %>
                    </div>
                    <%= link_to "詳細", post_path(post) %>
                <% end %>
            </div>
        <% end %> 
    </div>
</div>