<!DOCTYPE html>
<html>
  <head>
    <title>ButtonApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/16d5680429.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7770438803533980" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-91XKPHSGTP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-91XKPHSGTP');
    </script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <%= link_to posts_path do %>
            <%= image_tag "header-logo", class: "header-logo "%>
          <% end %>
          <%= link_to "ボタンリスト", posts_path, class: "header-title" %>
        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <%= link_to "マイページ", user_path(current_user) %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </header>

    <!-- deviseのフラッシュメッセージ -->
    <div class="mx-3">
      <% if flash[:notice] %>
        <p class="alert alert-primary" role="alert"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
    </div>
    <%= render partial: 'home/header_link' %>

    <%= yield %>
    <footer class="clear">
      <div class="container">
        <div class="footer-left">
          
        </div>
        <div class="footer-right">
          <%= link_to "利用規約", "/terms" %>
        </div>
      </div>
    </footer>
  </body>
</html>
